<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/plugins/jeasyui/themes/black/easyui.css">
    <link rel="stylesheet" type="text/css" href="~/plugins/jeasyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="~/plugins/jeasyui/themes/color.css">
    <link rel="stylesheet" type="text/css" href="~/css/site.css">
    <script type="text/javascript" src="~/plugins/jeasyui/jquery.min.js"></script>
    <script type="text/javascript" src="~/plugins/jeasyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="~/plugins/jeasyui/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="~/js/jeasyuiextend.js"></script>
    <script type="text/javascript" src="~/js/common.js"></script>
    <script type="text/javascript" src="~/js/sitemenus.js"></script>
</head>
<body>
    @RenderBody()
</body>
</html>
